nav {
  all: unset;
}
header .container {
  width: 1500px;
}
nav h2 {
  font-weight: 400;
}
nav ul {
  list-style: none !important;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px 30px;
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
}
nav ul li a svg {
  position: relative;
  top: -2px;
}
nav ul li a:hover {
  color: var(--main-color);
}
